.displayweather {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.displayweather .maincard {
  width: 500px;
  margin-top: 20px;
  align-self: center;
  padding: 50px;
  border-radius: 20px;
  position: relative;
  /* background: rgb(245, 242, 242);
  border: 1px solid black; */
}

.displayweather .maincard .cardtitle {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 18px;
}

.displayweather .maincard .cardsubtitle-text {
   position: absolute;
   top: 168px;
   left: 15px;
   font-size: 17px;
}

.displayweather .maincard .cardsubtitle {
  position: absolute;
  top: 169px;
  left: 143px;
  font-size: 17px;
}

.displayweather .weather-temperature-text {
  font-size: 17px;
  position: absolute;
  top: 123px;
  left: 12px;
}

.displayweather .weather-temperature {
  font-size: 17px;
  position: absolute;
  top: 121px;
  left: 144px;
}

.displayweather .weather-icon {
  width: 0px;

  position: absolute;
  top: 50px;
}

.displayweather .weather-main {
  position: absolute;

  top: 1px;
  left: 4px;
  font-weight: 500;
  font-size: 4.2rem;
}

.displayweather .weather-description-text {
  position: absolute;
  font-size: 17px;
  top: 101px;
  left: 12px;
}

.displayweather .weather-description {
  position: absolute;
  font-size: 17px;
  top: 101px;
  left: 144px; 
}

.displayweather .weather-humidity-text {
  position: absolute;
  font-size: 17px;
  top: 146px;
  left: 14px;
}

.displayweather .weather-humidity {
  position: absolute;
  font-size: 17px;
  top: 146px;
  left: 144px; 
}

.displayweather .weatherdetails {
  margin-left: 50px;
  margin-right: 50px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 20px;
}

h4 {
  text-align: left;
  margin-right: 30px;
  font-size: 1.2rem;
}

td {
  border-bottom: 2px dashed grey;
}

.displayweather .weatherdetails span {
  font-size: 1.2rem;
}
